@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-size: 1em;
  line-height: 1em;
  font-family: "Rubik", Arial, Sans-Serif;
}

body {
  background-color: #141414;
  color: #e2e2e2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  font-size: 12pt;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: .075em solid #EFD213;
  padding-bottom: 20px;
}

h1, h2, h3, h4 { line-height: 33px }

h1 {
  color: #EFD213;
  text-align: center;
  font-size: 2em;
  text-shadow: 1px 1px 1px black;
}

h2 {
  color: #FFF;
  font-size: 2em;
}

h3 {
  color: #FFF;
  font-size: 1.5em;
}

hr {
  height: .075em;
  border-bottom: .075em solid #505050;
}

a, .link {
  color: #FFF;
  text-decoration: none;
  cursor: pointer;
}

a:hover { color: #FFD700 }

form {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-evenly;
}

input, select, button, label {
  width: 100%;
  border-radius: 5px;
  padding: 0 1em;
  background-color: #3A3A3A;
  color: #A0A0A0;
  line-height: 2.5em;
}

input:focus-within, select:focus-within {
  color: #EFD213;
}

input::placeholder { opacity: 1; }
input:not(:placeholder-shown) { color: #FFF; }

input[type="number"], input[type="text"] { cursor: text }

input[type="number"] {
  min-width: 7ch;
  -moz-appearance: textfield;
  text-align: center;
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button { -webkit-appearance: none }

input[type="radio"] { display: none }

input[type="radio"] + label {
  display: block;
  cursor: pointer;
  text-align: center;
}
input[type="radio"]:hover + label {
  color: #B0B0B0;
  background: #4A4A4A;
}

select {
  -webkit-appearance: menulist-button;
}

label {
  width: auto;
  white-space: nowrap;
  color: #A0A0A0;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input[type="radio"]:checked + label {
  color: #efd213;
  background: #444;
  cursor: default;
}

input[type="radio"] + label.uncommon { color: #1EFF00; }
input[type="radio"] + label.rare { color: #0070DD; }
input[type="radio"] + label.epic { color: #A335EE; }
input[type="radio"] + label.legendary { color: #DC8008; }
input[type="radio"] + label.artifact { color: #E6B453; }

input[type="radio"]:checked + label.uncommon { background: #1EAA00; color: #FFF; }
input[type="radio"]:checked + label.rare { background: #0070DD; color: #FFF; }
input[type="radio"]:checked + label.epic { background: #A335EE; color: #FFF; }
input[type="radio"]:checked + label.legendary { background: #FF8000; color: #FFF; }
input[type="radio"]:checked + label.artifact { background: #998856; color: #FFF; }

input[type="radio"][disabled] + label {
  opacity: 0.5;
  cursor: not-allowed;
}

input[type="text"]:hover, input[type="number"]:hover {
  box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.2);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

input[type="text"]:focus, input[type="number"]:focus {
  box-shadow: inset 0 4px 12px rgba(0, 0, 0, 0.3);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

button {
  transition: transform 0.1s ease-out, box-shadow 0.5s ease;
  width: 100%;
  border: none;
  background: #EFD213;
  color: #000;
  font-weight: 500;
  cursor: pointer;
}

button:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button:active {
  transition: transform 0s, box-shadow 0.5s ease;
  transform: translateY(2px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

button:active:after {
  transition: transform 0.2s ease-out;
}

#float {
  display: flex;
  justify-content: center;
}

#container, #output {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
  background-color: #242424;
  border-radius: 22px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.1);
}

#output {
  gap: 20px;
  width: 100%;
  margin-left: 20px;
}

#configPanel, #statPanel, #stats {
  display: flex;
  gap: 15px;
  flex-direction: column;
}
#configPanel {
  width: 465px;
  background: #242424;
}
#statPanel {
  width: 350px;
}
#stats { height: 100% }

#item-name::placeholder { color: #A0A0A0; }
#item-name:not(:placeholder-shown) { color: inherit; }

#reset {
  font-size: 1.75em;
  color: #B0B0B0;
  transition: transform 0.2s ease-in-out;
}

#reset:hover {
  color: #EFD213;
  cursor: pointer;
}

#sockets {
  display: flex;
  flex-direction: column;
  gap: 1px;
  margin: 1em 0;
}

#sockets .socket {
  display: flex;
  flex-direction: row;
  gap: 5px;
  color: #9D9D9D;
  text-transform: capitalize;
  align-items: center;
}
#sockets img { height: 1em }

#sell, #buy {
  display: flex;
  flex-direction: row;
  text-transform: capitalize;
  gap: .5ch;
}

.gold::after, .silver::after, .copper::after {
  content: '';
  display: inline-block;
  width: 1em;
  height: 13px;
  margin-left: 1px;
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: middle;
}
.gold::after { background-image: url('item-display/money/gold.png') }
.silver::after { background-image: url('item-display/money/silver.png') }
.copper::after { background-image: url('item-display/money/copper.png') }

#item-level {
  border-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

#selectStats:not(:checked) + label {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
#selectStats:checked + label {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.rotate {
  
}

.uncommon { color: #1EFF00; }
.rare { color: #0070DD; }
.epic { color: #A335EE; }
.legendary { color: #DC8008; }
.artifact { color: #E6B453; }

input.uncommon:not(:placeholder-shown) { color: #1EFF00 !important }
input.rare:not(:placeholder-shown) { color: #0070DD !important }
input.epic:not(:placeholder-shown) { color: #A335EE !important }
input.legendary:not(:placeholder-shown) { color: #DC8008 !important }
input.artifact:not(:placeholder-shown) { color: #E6B453 !important }

.delete {
  position: absolute;
  right: -25px;
  width: 25px;
  color: #444;
  text-align: center;
}
.delete:hover {
  width: 20px;
  color: #C00;
}
.delete .stage1 { display: inline-block }
.delete .stage2 { display: none }
.delete:hover .stage1 { display: none }
.delete:hover .stage2 { display: inline-block }

.third { width: 33% }
.quarter { width: 25% }

.group {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.column { flex-direction: column }
.spread { justify-content: space-between }
.full { width: 100% }
.nogap { gap: 0 }
.nowrap { white-space: nowrap }
.pill { gap: 2px }
.pill .item:not(:first-child):not(:last-child) label {
  border-radius: 0;
  border-left: 3px;
}
.pill .item:first-child label {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.pill .item:last-child label {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.stat-amount {
  width: 10ch;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.stat-type {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.stat-type.socket {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.item {
  display: block;
  width: 100%;
}

.note {
  width: 95%;
  margin: 0 auto;
  padding: 5px;
  background: rgba(0,0,0,.15);
  color: #A8A27F;
  font-family: Consolas, System, Serif;
  text-align: center;
  white-space: nowrap;
  font-size: .8em;
}

.note:last-of-type {
  padding-top: 0;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.error {
  color: #FFF;
  background: #A55;
  font-weight: bold;
}

.tooltip {
  width: 275px;
  background-color: #080D22;
  padding: 10px;
  border: .075em solid #555;
  border-radius: 5px;
  color: #fff;
  font-size: 12px;
}

.tooltip * {
  font-family: Verdana, "Open Sans", Sans-Serif;
  line-height: 1.25em;
  cursor: default;
}

.tooltip .item-name {
  font-size: 14px;
  text-transform: capitalize;
}

.tooltip .item-level, .flavor { color: #FFD100 }
.tooltip .stat { color: #FFF }
.tooltip .stat.green, .green { color: #1EFF00 }
.tooltip .specialstat { color: #1eff00 }

#remove-stat { display: none }

.hide { display: none }

.text-center { text-align: center }

.github {
  color: #e6edf3;
  font-size: 2em;
}
.github a, .github a:hover { border-bottom: 0 }

.rotate {
  animation: rotate 0.6s forwards;
}

.rotate-fast {
  animation: rotate 0.1s forwards;
}

.wipe-out {
  position: absolute;
  animation: wipe-out 0.25s forwards;
}

@keyframes wipe-out {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-33%);
    opacity: 0;
  }
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}