* {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-size: 1em;
  line-height: 1em;
  font-family: Arial, Sans-Serif;
}

#float {
  display: flex;
  flex-direction: column;
  background-color: #242424;
  border: 1px solid #404040;
  padding: 20px;
  gap: 20px;
  border-radius: 2px;
}

#container {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

#stats {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

#tooltip {
  width: 100%;
  max-width: 320px;
  background-color: #080D22;
  padding: 10px;
  border: 1px solid #555;
  border-radius: 5px;
  color: #fff;
  display: none;
}
#tooltip, #tooltip * {
  font-size: 13px;
  line-height: 18px;
}

#tooltip .item-name {
  font-size: 16px;
  line-height: 21px;
}

.tooltip .item-level { color: #ffd700 }
.tooltip .stat { color: #FFF }
.tooltip .specialstat { color: #1eff00 }

body {
  background-color: #141414;
  color: #e2e2e2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  font-size: 12px;
}

h1 {
  color: #ffd700;
  text-align: center;
  font-size: 2em;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

input, select, button, label {
  width: 100%;
  border: 1px solid #505050;
  border-radius: 5px;
  padding: 10px;
  color: #EFEFEF;
  background-color: #3A3A3A;
}

.no-spinners { -moz-appearance: textfield }
.no-spinners::-webkit-outer-spin-button, .no-spinners::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="radio"] { display: none }

input[type="radio"] + label {
  display: block;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

label {
  width: auto;
  white-space: nowrap;
  font-weight: bold;
  color: #999;
}

label.blank {
  border: 0;
  background: transparent;
  text-align: left;
}

input[type="radio"]:checked + label { color: #FFF }
input[type="radio"]:checked + label.uncommon { background: #1EFF00 }
input[type="radio"]:checked + label.rare { background: #0070DD }
input[type="radio"]:checked + label.epic { background: #A335EE }
input[type="radio"]:checked + label.legendary { background: #FF8000 }
input[type="radio"]:checked + label.artifact { background: #998856 }
input[type="radio"]:checked + label.heirloom { background: #0CF }

button {
  border: none;
  background-color: #ffd700;
  color: #000;
  cursor: pointer;
  width: 100%;
}

button:hover { background-color: #e6c200 }

.delete {
  background: #833;
  color: #FFF;
  padding: 6px;
  font-weight: bold;
  cursor: pointer;
}

.group {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.item {
  display: block;
  width: 100%;
}

.stat-type { min-width: 26ch }
.stat-amount { min-width: 7ch }

.uncommon {
  color: #1EFF00;
}
.uncommon.selected {
  background-color: #1EFF00;
  color: #FFF !important;
}
.rare {
  color: #0070DD;
}
.rare.selected {
  background-color: #0070DD;
  color: #FFF !important;
}
.epic {
  color: #A335EE;
}
.epic.selected {
  background-color: #a335ee;
  color: #FFF !important;
}
.legendary {
  color: #DC8008;
}
.legendary.selected {
  background-color: #DC8008;
  color: #FFF !important;
}
.artifact {
  color: #E6B453;
}
.artifact.selected {
  background-color: #E6B453;
  color: #FFF !important;
}

#remove-stat { display: none }